<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543850658021-02igu1gcib775u0ba55tgnpvted45hgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543850658021-02igu1gcib775u0ba55tgnpvted45hgk</string>
	<key>API_KEY</key>
	<string>AIzaSyAaQ8A_uwCh6H3pf_o9b1eS6e9IAqUS5Sc</string>
	<key>GCM_SENDER_ID</key>
	<string>543850658021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alex.animalcrossingwiki</string>
	<key>PROJECT_ID</key>
	<string>animal-crossing-wiki</string>
	<key>STORAGE_BUCKET</key>
	<string>animal-crossing-wiki.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543850658021:ios:94e8b884877569d67b7c0c</string>
	<key>DATABASE_URL</key>
	<string>https://animal-crossing-wiki.firebaseio.com</string>
</dict>
</plist>